<div class="commentWrapper">
    <div class="commentContent">
        {{#if content}}
        <h1>{{this.dayName}} | {{this.dayNumber}}</h1>
        <p>{{this.temp}}</p>
        <p>{{this.weatherDesc}}</p>

        <h2>What's your complaint?</h2>
        <textarea id="complaint" name="complaint" rows="4" cols="50">
        Complaint
        </textarea>
        <input type="submit">
        {{else}}
        <p>An error occured. Please return to <a href="http://localhost:3000">the homepage</a></p>
        {{/if}}
    </div>
</div>