<div class="weatherWrapper">
    <div class="weatherIntro">
        <h2>Weather to Compain About</h2>
        <p>Pulled from <a href="https://www.accuweather.com/">Accuweather</a></p>
    </div>
    {{#each weather}}
    {{#if temp}}
    <div class="weatherContainer">
        <form action="/complain" method="post">
            <input type="hidden" name="weather" value="https://weather-and-climate.com{{this.weather}}">
            <input type="hidden" name="day" value="{{this.day}}">
            <input type="hidden" name="temp" value="{{this.temp}}">
            <input type="hidden" name="weatherDesc" value="{{this.weatherDesc}}">
            <div class="weatherImageDiv">
                <img class="weatherImage" src="https://weather-and-climate.com{{this.weather}}">
            </div>
            <div class="weatherTitle">
                <p>{{this.day}}</p>
            </div>
            <div class="weatherDescription">
                <p>{{this.temp}}</p>
                <p>{{this.weatherDesc}}</p>
            </div>
            <div class="weatherComment">
                <input type="submit" value="Complain About This Weather">
            </div>
        </form>
    </div>
    {{/if}}
    {{/each}}
</div>