<div class="articleWrapper">
    <h1>Today's Articles:</h1>
    {{#each weather}}
    <div class="articleContainer">
        <div class="articleImageDiv">
            <img class="articleImage" src="{{this.weather}}">
        </div>
        <div class="articleTitle">
            <p>{{this.dayName}} | {{this.dayNumber}}</p>
        </div>
        <div class="articleDescription">
            <p>{{this.temp}}</p>
            <p>{{this.weatherDesc}}</p>
        </div>
    </div>
    {{/each}}
</div>