<div class="articleWrapper">
    <h1>Today's Articles:</h1>
    {{#each articles}}
    <div class="articleContainer">
        <div class="articleImageDiv">
            <a href="{{this.url}}" target="_blank"></a><img class="articleImage" src="{{this.imageURL}}"></a>
        </div>
        <div class="articleTitle">
            <a href="{{this.url}}" target="_blank">
                <p>{{this.headline}}</p>
            </a>
        </div>
        <div class="articleDescription">
            <p>{{this.description}}</p>
        </div>
    </div>
    {{/each}}
</div>