<div class="weatherWrapper">
    <div class="weatherIntro">
        <h2>Weather to Compain About</h2>
        <p>Pulled from <a href="https://www.accuweather.com/">Accuweather</a></p>
    </div>
    {{#each weather}}
    <div class="weatherContainer">
        <form action="/complain" method="post">
            <div class="weatherImageDiv">
                <img class="weatherImage" src="{{this.weather}}" data="{{this.weather}}">
            </div>
            <div class="weatherTitle" data-dow="{{this.dayName}}" data-num="{{this.dayNumber}}">
                <p>{{this.dayName}} | {{this.dayNumber}}</p>
            </div>
            <div class="weatherDescription" data-temp="{{this.temp}}" data-desc="{{this.weatherDesc}}">
                <p>{{this.temp}}</p>
                <p>{{this.weatherDesc}}</p>
            </div>
            <div class="weatherComment">
                <input type="submit" value="Complain About This Weather">
            </div>
        </form>
    </div>
    {{/each}}
</div>