<div class="weatherWrapper">
    <h1>UPCOMING WEATHER:</h1>
    {{#each weather}}
    <div class="weatherContainer">
        <div class="weatherImageDiv">
            <img class="weatherImage" src="{{this.weather}}">
        </div>
        <div class="weatherTitle">
            <p>{{this.dayName}} | {{this.dayNumber}}</p>
        </div>
        <div class="weatherDescription">
            <p>{{this.temp}}</p>
            <p>{{this.weatherDesc}}</p>
        </div>
    </div>
    {{/each}}
</div>